h1 {
    border: 10px outset rgb(83, 170, 127);
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border: 10px outset rgb(83, 170, 127);
}

h2{
    font-family: sans-serif;
}

h3{
    font-family: sans-serif
}

h5{
    font-family: sans-serif;
}

p{ 
    font-family: sans-serif ;
}

u {
    border: 10px outset rgb(83, 170, 127);
    font-family: Arial, Helvetica, sans-serif
}

ul, ol {
    font-family: sans-serif;
}

li {
    font-family: sans-serif;
}

table {
    font-family: "Arial", sans-serif;
    border: 5px outset rgb(83, 170, 127);
}

th {
    font-family: "Arial", sans-serif;
    border: 2px solid rgb(83, 170, 127);
}

td {
    font-family: "Arial", sans-serif;
    border:2px solid rgb(83, 170, 127);
}

.centered {
    text-align: center;
}

.dim{
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);

}
.profilePhoto {
    width: 100px;
}

body{
    background-color: rgb(46, 106, 78)
}